@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* Define CSS Variables */
:root {
    --primary-color: #495E57;
    --secondary-color: #F4CE14;
    --accent-color: #EE9972;
    --text-font: 'Karla', sans-serif;
    --title-font: 'Markazi Text', serif;
}

/* Define Reusable Classes */
.title-font {
    font-family: var(--title-font);
    font-size: 45px;
    font-weight: bold;
    margin: 0px;
}

.text-font {
    font-family: var(--text-font);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}
.accent-color {
    color: var(--accent-color);
}
.paragraph{
  min-width: 325px;
}

/* Remove Spinners from number inputs */
.input-number-no-spinners::-webkit-inner-spin-button,
.input-number-no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* General styles */
.app-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar styles */
.NavigationBarContainer {
    display: flex;
    justify-content: center;
    background: white;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
}

.NavigationBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.NavigationBar a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.NavigationBar a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.navigation-bar-logo {
    width: 180px;
    height: 60px;
}

.navigation-bar-logo:hover {
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}

/* Hero Section Styles */
.HeroSectionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--primary-color);
    flex-wrap: wrap;
    height: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 150px;
}

.HeroSectionLeft {
    color: white;
}

.HeroSectionRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 304px;
}

/* #HeroSectionResturantName {
    @extend .title-font;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    height: 35px;
} */

#HeroSectionResturantLocation {
    font-family: var(--title-font);
    font-size: 30px;
    margin: 0;
    padding: 0;
    height: 50px;
}

.HeroSectionLeft p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--text-font);
    width: 250px;
    height: 100px;
}

#ReserveTableBtn {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    background: var(--secondary-color);
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

#ReserveTableBtn:hover {
    color: white;
    background: var(--accent-color);
    cursor: pointer;
}

.hero-section-img {
    width: 200px;
    height: 300px;
    border-radius: 25px;
}

.paragraph-button-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0px;
}

/* Highlights Styles */
.HighlightsContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.HighlightsTitleAndBtn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#HighlightsOnlineMenuBtn {
    all: unset;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: black;
    font-weight: bold;
    border-radius: 25px;
    width: 200px;
    height: 50px;
}

#HighlightsOnlineMenuBtn:hover {
    background: var(--accent-color);
    color: white;
    cursor: pointer;
}

/* Dish Card Styles */
.DishCardContainer {
    background: #EDEFEE;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.DishCardNameAndPrice {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

#DishCardDishDescription {
    width: 80%;
    height: 40%;
    font-size: 10px;
}

#DishCardName {
    font-size: 15px;
}

#DishCardPrice {
    font-size: 15px;
    color: var(--accent-color);
}

.dish-card-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#BikeIcon {
    width: 30px;
    height: 20px;
}

.DishCardOrderOnlineAndBike {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
    margin-bottom: 5%;
}

.DishCardOrderOnlineAndBike a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
}

.DishCardOrderOnlineAndBike a:hover {
    color: var(--accent-color);
}

.HighlightsDishList {
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Testimonials Styles */
.TestimonialsSectionContainer {
    background: #EDEFEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.UsersCardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* User Feedback Card Styles */
.UserFeedbackCardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15px;
    width: 250px;
    height: 150px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.UserFeedbackCardContainer p {
    font-size: 10px;
}

.UserFeedbackCardImgAndComment {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
}

.StarsContainer {
    display: flex;
    margin-bottom: 10px;
}

#UserFeedbackCardUserComment {
    display: flex;
    justify-content: center;
    width: 80%;
    color: var(--primary-color);
}

/* About Section Styles */
.AboutSectionContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    height: auto;
}
.AboutSectionRightSide{
    position:relative;
  width:200px;
  height:300px;
  display:flex;
}
.about-image-container{
    position:relative;
    width:200px;
    height:300px;
    display:flex;
  }
  .about-image {
    position:"absolute";
    top:0;
    left:0;
    width:100%;
    height:100%;
    objectFit:"cover";
    zIndex: 1;
    borderRadius:"25px";
  }
  .second-image{
    position:"absolute";
    top:"50px";
    right:"50px";
    width:100%;
    height:100%;
    objectFit:"cover";
    zIndex: 2;
    borderRadius:"25px";
  }
  .third-image{
    position:"absolute";
    top:"100px";
    right:"100px";
    width:100%;
    height:100%;
    objectFit:"cover";
    zIndex: 2;
    borderRadius:"25px";
  }
.AboutSectionLeftSide {
    display: flex;
    flex-direction: column;
}

.AboutSectionRightSide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Footer Styles */
.FooterSectionContainer {
    background: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
    color: white;
    gap: 40px;
}

.FooterSectionContainer a {
    all: unset;
}

.FooterSectionContainer a:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.FooterSectionContainer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    margin: 60px 0;
}

.FooterSectionContainer h1 {
    color: var(--secondary-color);
}
.footer-logo {
    width: 200px;
    height: 300px;
    border-radius: 25px;
    margin: 60px 0;
}

#CopyRightText {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

/* Booking Page Styles */
.BookingPageContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /* justify-items: center;
    justify-content: center; */
    align-items: center;
    /* align-content: center; */
}

.BookingPageContainer input {
    margin: 5px 0;
}

.BookingPageContainer label {
    color: var(--primary-color);
}

.BookingPageContainer h1 {
   @extend .title-font;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.BookingPageContainer legend {
   @extend .title-font;
    color: var(--primary-color);
    margin-bottom: 0;
    font-weight: bold;
}

.BookingPageContainer fieldset,
.BookingPageContainer header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

/* Header styles */
.ReserveTableHeader {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    background: var(--primary-color);
    /* justify-content:left; */
    margin-bottom: 30px;
    gap: 150px;
    height: 325px;
}

#ReserveTableHeaderLeftSide {
    width: 325px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* #ReserveTableHeaderParagraph {
    color: white;
} */

#ReserveTableHeaderRightSide {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}

#ReserveTableHeaderImg {
    border-radius: 25px;
    width: 300px;
    height: 250px;
}

/* Customer details Styles */
.CustomerDetails {
    background: white;
}

#CustomerDetailsLeftSide {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#CustomerDetailsRightSide {
    display: flex;
    justify-content: center;
    margin: 60px 0;
    width: 25%;
}
.customer-details-img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
/* Reservation Details Styles */
#ReservationDetailsLeftSide {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#ReservationDetailsRightSide {
    display: flex;
    justify-content: center;
    margin: 60px 0;
    width: 25%;
}
.reservation-details-img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

/* Special Requests Styles */
#SpecialRequestsLeftSide {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#SpecialRequestsRightSide {
    width: 25%;
    min-width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

input,
textarea,
select,
option {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
}

select:focus,
input:focus,
textarea:focus {
    /* border-color: var(--secondary-color); */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Confirmation Details Styles */
.ConfirmationDetails {
    background: #EDEFEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

#Terms,
#Subscribe {
    display: flex;
    width: 300px;
}

#TermsCheckbox,
#SubscribeCheckbox {
    width: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#ConfirmationDetailsBtn {
    all: unset;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: black;
    font-weight: bold;
    border-radius: 25px;
    width: 200px;
    height: 50px;
}

#ConfirmationDetailsBtn:hover {
    color: white;
    background: var(--accent-color);
    cursor: pointer;
}
#ConfirmationDetailsTitle{
  margin-top: 0px;
}

.BookingPageContainer fieldset {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.BookingFormContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

#BookingFormSubmitBtn {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    background: var(--secondary-color);
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 60px;
}

#BookingFormSubmitBtn:hover {
    color: white;
    background: var(--accent-color);
    cursor: pointer;
}

.LabelAndInput {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

label {
    width: 143px;
}

#BookingConfirmPageBtn {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    background: var(--secondary-color);
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 60px;
}

#BookingConfirmPageBtn:hover {
    color: white;
    background: var(--accent-color);
    cursor: pointer;
}

/* Input Error Styles */
.error {
    font-size: 10px;
    color: red;
    display: flex;
    justify-content: center;
}

.input-error {
    border: 2px solid red;
}

main{
  width: 100%;
}

select, textarea, input{
  min-width: 250px;
}

#bookingFormTitle{
    width: 305px;
    margin-bottom: 21px;
}

#ReserveTableHeaderParagraph{
    color: white;
}

#BookingConfirmationPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 60px; */
    margin-top: 100px;
    margin-bottom: 100px
}

#BookingConfirmationPageMessage {
    width: 343px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .NavigationBarContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .HeroSectionContainer {
      flex-direction: column;
      align-items: center;
      gap:10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .ReserveTableHeader {
      flex-direction: column;
      align-items: center;
      height: 25%;
      gap:0px
    }
  
    .paragraph-button-container {
      align-items: center;
    }
  
    #BookingConfirmationPage {
      margin-top: 0px;
    }

    #BookingConfirmPageBtn {
        margin: 30px;
    }

    .footer-logo {
        width: 150px;
        height: 200px;
        border-radius: 25px;
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .FooterSectionContainer {
        /* background: var(--primary-color);
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        justify-content: center;
        color: white;
        gap: 40px; */
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .FooterSectionContainer nav{
        width: 80%;
    }

    .FooterSectionContainer a{
        text-decoration: underline;
    }

    .FooterSectionContainer ul{
        margin: 0px;
        flex-direction: row;
        gap:20px;
        margin-bottom: 20px;
    }

    .FooterSectionContainerH1 {
        width: 100%;
        margin-bottom: 0px;
    }
}

.NavigationBar{
    list-style: none;
}

/* Navigation Bar styles */
.NavigationBarContainer {
    display: flex;
    justify-content: center;
    background: white;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
    position: relative; /* Needed for absolute positioning of burger icon */
}

.NavigationBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.NavigationBar a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.NavigationBar a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.navigation-bar-logo {
    width: 180px;
    height: 60px;
}

.navigation-bar-logo:hover {
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}

/* Burger Menu Icon Styles */
.burger-menu-icon {
  display: none; /* Initially hide on larger screens */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  position: absolute;
  top: 10px;
    right: 10px;
  padding: 5px;
  z-index: 10; /* Ensure it's above the other content */

}
.burger-menu-icon:hover {
    color: var(--secondary-color);
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .NavigationBarContainer {
      flex-direction: column;
      align-items: center;
    }
    .NavigationBar {
        display: none; /* Hide navigation links by default */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px; /* Adjust to position below the header */
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px;
        z-index: 9; /* Ensure it's above other content */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .NavigationBar.active {
        display: flex; /* Show the navigation links when menu is active */
    }

  .burger-menu-icon {
      display: block; /* Show the burger menu icon */
      left: 225px;
      top: 25px;
    }
  }
