/* src/styles.css (or any other CSS file) */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* div#root{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

.NavigationBarContainer{
  display: flex;
  justify-content: center;
  background: white;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap;
}

.NavigationBar{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.NavigationBar a {
  color: #495E57;
  font-weight: bold;
  text-decoration: none;
}

.NavigationBar a:hover {
  color: #F4CE14;
  cursor: pointer;
}

#NavigationBarLogoImg{
  width: 180px;
  height: 60px;
}

#NavigationBarLogo:hover{
  border: 2px solid #F4CE14;
  cursor: pointer;
}

.HeroSectionContainer{
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  background: #495E57;
  flex-wrap: wrap;
  height: 25%;
}

.HeroSectionLeft{
  color: white;
}

.HeroSectionRight{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 304px;
}

#HeroSectionResturantName{
  font-family: 'Markazi Text', serif;
  font-size: 45px;
  color: #F4CE14;
  margin: 0;
  /* margin-top: 50px; */
  padding: 0;
  height: 35px;
}

#HeroSectionResturantLocation{
  font-family: 'Markazi Text', serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
  height: 50px;
}

.HeroSectionLeft p{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Karla', sans-serif;
  width: 250px;
  height: 100px;
}

#ReserveTableBtn{
  all: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  background: #F4CE14;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

#ReserveTableBtn:hover{
  color: white;
  background: #EE9972;
  cursor: pointer;
}

#HeroSectionImg{
  width: 200px;
  height: 300px;
  border-radius: 25px;
  /* margin: 10px; */

}
#ParagraphBtnContainer{
display: flex;
flex-direction: column;
gap: 20px;
}

.HighlightsContainer{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.HighlightsTitleAndBtn{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-evenly;
  margin-bottom: 30px;
}

#HighlightsOnlineMenuBtn{
  all: unset;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #F4CE14;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  width: 200px;
  height: 50px;
}

#HighlightsOnlineMenuBtn:hover{
  background: #EE9972;
  color: white;
  cursor: pointer;
}

.DishCardContainer{
  background: #EDEFEE;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.DishCardNameAndPrice{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
}

#DishCardDishDescription{
  width: 80%;
  height: 40%;
  font-size: 10px;
}

#DishCardName{
  font-size: 15px;
}

#DishCardPrice{
  font-size: 15px;
  color: #EE9972;
}

#DishCardDishImg{
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}


#BikeIcon{
  width: 30px;
  height: 20px;
}

.DishCardOrderOnlineAndBike{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  gap: 10px;
  margin-bottom: 5%;
}

.DishCardOrderOnlineAndBike a{
  text-decoration: none;
  font-weight: bold;
  color: #495E57;
}
.DishCardOrderOnlineAndBike a:hover{
  color: #EE9972;
}

.HighlightsDishList{
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.TestimonialsSectionContainer{
  background: #EDEFEE;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 5%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.UsersCardsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content:center;
  gap: 10px;
}

.UserFeedbackCardContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:white;
  border-radius: 15px;
  width: 200px;
  margin-bottom: 60px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.UserFeedbackCardContainer p{
  font-size: 10px;
}

.UserFeedbackCardImgAndComment{
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
}

.StarsContainer{
  display:"flex";
}

#UserFeedbackCardUserComment{
  display: flex;
  justify-content: center;
  width: 80%;
  color: #495E57;
}

.AboutSectionContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}
.AboutSectionLeftSide{
  display: flex;
  flex-direction: column;
}
.AboutSectionRightSide{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.FooterSectionContainer{
  background: #495E57;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  justify-content: center;
  color: white;
  gap: 40px;
}
.FooterSectionContainer a{
  all:unset;
}
.FooterSectionContainer a:hover{
  cursor: pointer;
  color: #EE9972;
}
.FooterSectionContainer ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  margin: 60px 0px;
}
.FooterSectionContainer h1{
  color: #F4CE14;
}

#CopyRightText{
  display: flex;
  justify-content: center;
  color: #495E57;
}

.BookingPageContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content:center;
}
.BookingPageContainer input{
  margin: 5px 0px;
}
.BookingPageContainer label{
  color: #495E57;
}
.BookingPageContainer h1,.BookingPageContainer legend{
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 45px;
  margin-bottom: 0px;
}
.BookingPageContainer fieldset,.BookingPageContainer header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-evenly;
  margin-bottom: 30px;
  gap: 80px;
}
.ReserveTableHeader{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background: #495E57;
  justify-content:space-evenly;
  margin-bottom: 60px;
}
#ReserveTableHeaderLeftSide{
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* #ReserveTableHeaderTitle{
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 45px;
  margin-bottom: 0px;
} */
#ReserveTableHeaderParagraph{
  color: white;
}
#ReserveTableHeaderRightSide{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0px;
}
#ReserveTableHeaderImg{
  border-radius: 25px;
}
.CustomerDetails{
  background: white;
}
#CustomerDetailsLeftSide{
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0px;
}
/* input[type='number']:focus:-webkit-inner-spin-button,
input[type='number']:focus:-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0px;
} */
/* #CustomerDetailsTitle{
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 45px;
  margin-bottom: 0px;
} */
#CustomerDetailsRightSide{
  display: flex;
  justify-content: center;
  margin: 60px 0px;
  width: 25%;
}
#CustomerDetailsImg{
  width: 200;
  height: 200px;
  border-radius: 25px;
}
.ReservationDetails{
  background: #EDEFEE;
}
#ReservationDetailsLeftSide{
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#ReservationDetailsRightSide{
  display: flex;
  justify-content: center;
  margin: 60px 0px;
  width: 25%;
}
#ReservationDetailsImg{
  width: 200;
  height: 200px;
  border-radius: 25px;
}
#SpecialRequestsLeftSide{
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
#SpecialRequestsRightSide{
  width: 25%;
  min-width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
input,textarea,select,option {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
input,textarea:focus {
  border-color:#F4CE14;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.ConfirmationDetails{
  background: #EDEFEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
#Terms,#Subscribe{
  display: flex;
  width: 300px;
}
#TermsCheckbox,#SubscribeCheckbox{
  width: 50px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* #ConfirmationDetailsCheckboxs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */
#IAgreeOn{
  width: 25%;
}
/* #TermsAndSubscribe{
  width: 25%;
} */
/* #TermsAndSubscribe div{
  background-color: #F4CE14;
  display: flex;
  align-content: space-between;
} */
#ConfirmationDetailsBtn{
  all: unset;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #F4CE14;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  width: 200px;
  height: 50px;
}
#ConfirmationDetailsBtn:hover{
  color: white;
  background: #EE9972;
  cursor: pointer;
}
#ConfirmationDetailsTitle{
  margin-top: 0px;
}
